*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body{

    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    width: 100%;
    height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.container{
    width: 80%;
    max-width: 600px;
    height: auto;
    min-height: 200px;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: ;
    margin-bottom: 40px;
}
#search{
    background-color: #0093E9;
    width: auto;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 3px 5px;
    border-radius: 7px;
}
form {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#word {
    height: 30px;
    border: none;
    border: 2px solid #004e92;
    padding-left: 10px;
    font-size: 1rem;
}

#word:focus {
    border: 0px solid transparent;
    outline: none;
    border-bottom: 2px solid #004e92;
}

h2{
    display: inline;
}
.res{
    width: 80%;
    /* border: 2px solid blue; */
    margin-top: 20px;
}
.play{
    display: inline;
    border: none;
    margin-left: 60%;
}
#new-word{
    margin: 10px 0px;
}
footer{
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 0px;

}